<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Canded | Daily text messages to reflect on your brainspace</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/messaging.css">
    <link rel="stylesheet" href="assets/css/timeline.scss">



</head>

<body style="width: 100%;">
    <!-- ? Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/preloader.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li class="active"><a href="index.html">Home</a></li>
                                                <!-- <li class="active"><a href="for_organizations.html">For
                                                        Organizations</a></li> -->
                                                <li class="active"><a href="authentication.html">My Calender</a></li>
                                                <li class="active"><a href="team.html">Meet the Team</a></li>


                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-65">
                                        <a href="/login" class="border-btn">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
        <!--? slider Area Start-->
        <section class="slider-area" style="margin-bottom: 0;">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="hero__caption">
                                    <h1 class="hero-headline">Questions to reflect on your brain
                                        space</h1>
                                    <p id="hero-des">A
                                        <strong>daily text journal</strong>
                                        to foster
                                        thoughtful and consistent introspection</p>
                                    <a href="/login" class="hero-btn"
                                        style="text-align: left; background-color:white; color: #8429F2; font-size:2.5rem"
                                        data-animation="fadeInUp" data-delay="0.7s">Subscribe
                                    </a>
                                </div>
                            </div>


                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="chat__caption">
                                    <div class="msg-container" style="position: relative;">
                                        <div class="msg-content w-100">
                                            <div id="msg1"
                                                class="msg-receive dib mb4 bg-message br4 pv2 ph3 white measure-narrow">
                                                <strong> Who inspired you today?</strong></div>
                                            <div id="msg2"
                                                class="msg-send dib mb4 bg-near-white br4 pv2 ph3 mid-gray measure-narrow">
                                                <strong> I met someone who organizes a free library base on honor
                                                    system. There is no card needed amd she lets readers return books
                                                    whenever they'r ready cause eve reads at different rates.</strong>
                                            </div>
                                            <div id="msg3"
                                                class="msg-receive dib mb4 bg-message br4 pv2 ph3 white measure-narrow">
                                                <strong> What are your goals for this week?
                                                </strong> </div> <br>
                                            <div id="msg4"
                                                class="msg-send dib mb4 bg-near-white br4 pv2 ph3 mid-gray measure-narrow">
                                                <strong>I want to work on improving my mental health</strong> </div>
                                            <div id="msg5"
                                                class="msg-receive dib mb4 bg-message br4 pv2 ph3 white measure-narrow">
                                                <strong>How do you feel today?</strong>
                                            </div>
                                            <div id="msg6"
                                                class="msg-send dib mb4 bg-near-white br4 pv2 ph3 mid-gray measure-narrow">
                                                <strong> I had hard time getting out of bed today. Being at home
                                                    for so long has been extremely tiring</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <div class="row " style="background-color: #8429F2; margin-top:0">
            <div class="col-lg-7 mx-auto" style="opacity: 0;">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <form id="contact-form" role="form">
                                <div class="controls">




                                </div>

                                <div class="row">
                                    <br> <br>
                                    <div class="col-md-6 col-lg-6"> <input type="submit"
                                            class="btn btn-success btn-send  " value="Send Message">
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->

        </div>
        <section class="our-services">





            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->

                        <div class="section-tittle text-center mb-80">

                            <h2 style="display: inline;" id="description">Finally focus on my marketing strategy and
                                delegates </h2>
                            <h2 class="blink" style="display: inline;">|</h2>
                            <p style="font-size: 2rem;" id="description1">In the old days, your website was the
                                same for
                                everyone.
                                Not anymore.
                                Experiences lets
                                you adapt your website for every audience.</p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-3 col-md-6 col-sm-6">
                        <div class="single-services mb-30 process">

                            <div class="services-cap">
                                <h5><a href="#">1</a></h5>
                                <p>
                                    Sign up and pick your desired frequency </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 ">
                        <div class="single-services mb-30 process">

                            <div class="services-cap">
                                <h5><a href="#">2</a></h5>
                                <p>
                                    Questions will be texted to your phone</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6 ">
                        <div class="single-services mb-30 process">

                            <div class="services-cap">
                                <h5 style="display: inline;"><a href="#">3</a></h5>

                                <p class="process-text">Text your responses in the text message thread</p>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-3 col-md-6 col-sm-6 ">
                        <div class="single-services mb-30 process">

                            <div class="services-cap">
                                <h5><a href="#">4</a></h5>
                                <p>Look out for your emailed end-of-month recap</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- Our Services End -->
        <!--? About Area  -->
        <section class="about-area2 section-padding40 section-bg2" data-background="assets/img/gallery/section-bg3.png">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <div class="about-icon">
                                <img src="assets/img/icon/3d.png" alt="">
                            </div>
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-25">
                                <h2>Reflecting is challenging, but it doesn't need to be.</h2>
                            </div>
                            <p class="mb-20">
                                At Canded, our mission is to make reflection fun, convenient and consistent.
                                We hope your text conversations create a space and lower the barrier to express your
                                full self. </p>
                            <!-- <a href="about.html" class="all-btn">See how it work</a> -->
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-9 col-sm-9">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="assets/img/gallery/about1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? About Area  -->
        <section class="about-area2 pb-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-5 col-md-9">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="assets/img/gallery/about2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <div class="about-icon">
                                <img src="assets/img/icon/3d.png" alt="">
                            </div>
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-25">
                                <h2>Personalized experiences are proven to increase conversions</h2>
                            </div>
                            <p class="mb-20">
                                What if you could get all your cumbersome tasks off your plate and focus only on the
                                fun
                                stuff? Working with Canded allows you to scale your journal and grow faster without
                                becoming a writer yourself.
                            </p>
                            <!-- <a href="about.html" class="all-btn">See how it work</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? video_start -->
        <!-- <div class="video-area section-bg2 d-flex align-items-center" data-background="assets/img/gallery/video-bg.svg">
            <div class="container">
                <div class="video-wrap position-relative">
                    <!--  data-background="img/video_bg/video-img.png" -->
        <!-- <div class="vidoe-img"><img class="img" src="assets/img/gallery/video-bg.svg" alt=""></div> -->
        <!-- Video icon -->
        <div class="video-icon">
            <!-- <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i
                    class="fas fa-play"></i></a> -->
        </div>
        </div>
        </div>
        </div> -->
        <!-- video_end -->
        <!--? Testimonial Area Start -->
        <section class="testimonial-area fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center">
                            <h2>Amazing customer review</h2>
                            <p>In the old days, your website was the same for everyone. Not anymore. Experiences
                                lets
                                you adapt your website for every audience.</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-wrapper section-bg2 pt-135"
                    data-background="assets/img/gallery/section_bg01.png">
                    <div class="row align-items-center justify-content-center">
                        <div class=" col-lg-8 col-md-12 col-sm-9">
                            <div class="about-caption">
                                <!-- Testimonial Start -->
                                <div class="h1-testimonial-active dot-style">
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption">
                                            <img src="assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                            <p>Brook presents your services with flexible, convenient and cdpose
                                                layouts. You can select your favorite layouts & elements for cular
                                                ts
                                                with unlimited ustomization possibilities. Pixel-perfect
                                                replica;ition
                                                of thei designers ijtls intended csents your se.</p>
                                        </div>
                                        <!-- founder -->
                                        <div
                                            class="testimonial-founder d-flex align-items-center justify-content-center">
                                            <div class="founder-text">
                                                <span>Robart Brown</span>
                                                <p>Creative designer at Colorlib</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Testimonial -->
                                    <div class="single-testimonial text-center">
                                        <div class="testimonial-caption">
                                            <img src="assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                            <p>Brook presents your services with flexible, convenient and cdpose
                                                layouts. You can select your favorite layouts & elements for cular
                                                ts
                                                with unlimited ustomization possibilities. Pixel-perfect
                                                replica;ition
                                                of thei designers ijtls intended csents your se.</p>
                                        </div>
                                        <!-- founder -->
                                        <div
                                            class="testimonial-founder d-flex align-items-center justify-content-center">

                                            <div class="founder-text">
                                                <span>Robart Brown</span>
                                                <p>Creative designer at Colorlib</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Testimonial End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--? Testimonial Area End -->
        <!--? Want To work 01-->
        <section class="wantToWork-area ">
            <div class="container">
                <div class="wants-wrapper w-padding2 section-bg2" data-background="assets/img/gallery/section_bg02.png">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-7 col-lg-9 col-md-8">
                            <div class="wantToWork-caption text-center">
                                <h2>Start Reflecting Yourself</h2>
                                <p>Your privacy is of upmost importance to us and all reflections are stored in an
                                    encrypted database. Only you will see your reflections and any additional data
                                    questions can be <a href="#">found here</a> .</p>
                                <a href="/login" class="btn3 wantToWork-btn">Subscribe now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->

    </main>
    <footer>
        <div class="footer-wrappper section-bg" data-background="assets/img/gallery/footer-bg.png">
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo mb-25">
                                        <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>We would love to hear from you, email us at today@canded.me with any
                                                questions or suggestions you may have.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- social -->
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>
                                        © 2020 Canded. All Rights Reserved
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </div>
    </footer>

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="./assets/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <script src="./assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/text_toggle.js"></script>
    <script src="./assets/js/type.js"></script>
    <script src="./assets/js/index1.js"></script>



</body>

</html>